<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Francesca Romano is a data leader focused on creating sustainable and reproducible data products
           and analyses through high quality, actionable, and timely data. She is an intrapreneur and problem-solver
           by nature with a track record of growing and scaling successful data teams and delivering business value.
           She is formally trained in data science with professional experience spanning data strategy, data engineering
           and modeling, analytics and business intelligence, data visualization, machine learning, and data product management.
        </p>
        <p>
           Francesca has experience working in and with a variety of organizations including nonprofits, state government,
           professional services, offshoot startups, scalable startups, and small business startups. She has worked with many
           mission-driven organizations across industries, including in healthcare, news media, supply chain, climate tech, and EdTech.          
        </p>
      </div>
      <!-- <div class="col-lg-4">
        <p>[Insert Image Here]</p>
      </div> -->
    </div>
  </div>
</section>
