<!-- Services Section -->
<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Services</h2>
          <!-- <hr class="star-light"> -->
        </div>
      </div>
      <div class="row">
          <p></p>
      </div>
      <div class="row">
        <div class="col-lg-4">
            <h3>Strategic Consulting</h3>
        </div>
        <div class="col-lg-8">
            <p>
               <i>Feel like your company is underutilizing or even mis-utilizing its data and missing out on business value?</i>
            </p>
            <p>We create data strategies that make data-informed decision making faster and easier for your company so you can
               spend more time generating business value and less time running reports or chasing down the root cause of reports
               with conflicting data. We support you in structuring and building data teams for high impact, selecting the right
               data tools for business needs, and employee training in data literacy and self-service reporting across your organization.
            </p>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div class="col-lg-4">
            <h3>Analytic Insights</h3>
        </div>
        <div class="col-lg-8">
            <p>
              <i>Have a specific project in mind where you could use some data or analytic expertise?</i>
            </p>
            <p>
               We create reproducible analyses and visualizations from your data providing you with the insights
               you need to answer your business questions.
            </p>
        </div>
      </div>
    </div>
  </section>
  