<!-- Services Section -->
<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Services</h2>
          <!-- <hr class="star-light"> -->
        </div>
      </div>
      <div class="row">
          <p></p>
      </div>
      <div class="row">
        <div class="col-lg-4">
            <h3>Strategic Consulting</h3>
        </div>
        <div class="col-lg-8">
            <p><i>Feel like you're underutilizing or even misutilizing your data and missing out on business value?</i></p>
            <p>We create data strategies to enable more data-informed decision making, including structuring and building data teams
            for high impact, promoting data literacy and self-service across the organization, and selecting the right data tools for business needs.</p>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div class="col-lg-4">
            <h3>Analytic Insights</h3>
        </div>
        <div class="col-lg-8">
            <p><i>Have a specific project in mind where you could use some data and analytic expertise?</i></p>
            <p>We can create analyses and visualizations from your data providing you with the insights you need to answer your business questions.</p>
        </div>
      </div>
    </div>
  </section>
  